html {
  background-color: rgb(44, 127, 62);
  color: rgb(246, 247, 137);
  text-align: center;
}

body {
  font-family: sans-serif;
}

#elapsedtime {
  font-weight: 900;
  font-size: 4rem;
  margin: 2rem auto;
  width: fit-content;
  padding: 1rem;
  border-radius: 1rem;
  background-color: rgb(164, 169, 111);
}

button {
  border-style: none;
  border: 0;
  width: 8rem;
  height: 2rem;
  background-color: rgb(108, 209, 200);
  color: black;
  font-size: 1.5rem;
}

button.stop {
  background-color: rgb(221, 78, 78);
}

button:hover {
  background-color: rgb(246, 247, 137);
  cursor: pointer;
}

button:active {
  background-color: rgb(0, 194, 0);
  color: whitesmoke;
}
