html {
  text-align: center;
}

body {
  font-family: sans-serif;
}

div.style {
  margin: 1rem auto;
  padding: 4rem 4rem;
  width: 4rem;
  border-radius: 50%;
  border: 0.5rem;
  background-color:rgb(73, 197, 254);
  border-style: solid;
}

h2 {
  font-weight: 900;
  font-size: 4rem;
  margin: 0 auto;
  width: fit-content;
}

button {
  border-style: none;
  border: 0;
  width: 8rem;
  height: 2rem;
  color: black;
  font-size: 1.5rem;
}

.stop {
  animation: 1s blink;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  background-color: rgb(255, 0, 0);
}

@keyframes blink {
  from {
    background-color: red;
  }
  to {
    background:yellow;
  }
}

button.hidden {
  display: none;
}

button:hover {
  cursor: pointer;
  background-color: yellow;
}

button:active {
  color: whitesmoke;
}

input {
  margin-top: 1rem;
  font-size: 1rem;
}
