html {
  text-align: center;
}

body {
  font-family: sans-serif;
}

div.style {
  transform: rotate(45-deg);
  margin: 1rem auto;
  padding: 4rem 4rem;
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
  border: 0.5rem;
  background-color:rgb(73, 197, 254);
  border-style: solid;
}

div.stop {
  transform: rotate(45-deg);
  margin: 1rem auto;
  padding: 4rem 4rem;
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
  border: 0.5rem;
  border-style: solid;
  animation: 1s blink;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  background-color: rgb(255, 0, 0);
}

div.stylerun {
  transform: rotate(45deg);
  margin: 1rem auto;
  padding: 4rem 4rem;
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
  border: 0.5rem;
  background-color:rgb(73, 197, 254);
  border-style: solid;
  animation: 60s infinite countdown;
}

@keyframes countdown {
  25% {
    border-top-color: antiquewhite;
  }
  50% {
    border-top-color: antiquewhite;
    border-right-color: antiquewhite;
  }
  75% {
    border-top-color: antiquewhite;
    border-right-color: antiquewhite;
    border-bottom-color: antiquewhite;
  }
  100% {
    border-top-color: antiquewhite;
    border-right-color: antiquewhite;
    border-bottom-color: antiquewhite;
    border-left-color: antiquewhite;
  }
}

h2 {
  font-weight: 900;
  font-size: 4rem;
  margin: 0 auto;
  width: fit-content;
}

.stylerun h2 {
  transform: rotate(-45deg);
}

button {
  border-style: none;
  border: 0;
  width: 8rem;
  height: 2rem;
  color: black;
  font-size: 1.5rem;
  background: rgb(14, 255, 14);
}

.stop {
  animation: 1s blink;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  background-color: rgb(255, 0, 0);
}

@keyframes blink {
  from {
    background-color: red;
  }
  to {
    background:yellow;
  }
}

button.hidden {
  display: none;
}

button:hover {
  cursor: pointer;
  background-color: yellow;
}

button:active {
  color: whitesmoke;
}

input {
  margin-top: 1rem;
  font-size: 1.25rem;
}

div span {
  font-size: 1.5rem;
}
